{% extends "base.html" %}

{# These various section references are necessary right now as Tera 0.10
doesn't have global variables. #}

{% block description %}
  {% set section = get_section(path="_index.md") %}
  {{ section.description }}
{% endblock description %}

{% block title %}
  {% set section = get_section(path="_index.md") %}
  {{ section.title }}
{% endblock title %}

{% block content %}
  {% set section = get_section(path="_index.md") %}
  {{ section.content | safe }}
{% endblock content %}
